<div class="jumbotron center">
  <div class="container">
   <h1 class="center">About Language Dream</h1>
</br>
	<h2 class="center">Our concept is fun and simple:</h2>
	

	<ul class="list-group left">
  <li class="list-group-item"><span class="glyphicon glyphicon-heart"></span>   Teach a little... Learn a Lot</li>
  <li class="list-group-item"><span class="glyphicon glyphicon-gift"></span>   For each hour you teach, earn credits to learn for 4 hours</li>
  <li class="list-group-item"><span class="glyphicon glyphicon-user"></span>   Classes limited to 5 students</li>
  <li class="list-group-item"><span class="glyphicon glyphicon-facetime-video"></span>   Classes meet via Google Hangouts</li>
  <li class="list-group-item"><span class="glyphicon glyphicon-globe"></span>   Meet language lovers from around the world</li>
  
</ul>
  </div>
</div>