<div class="jumbotron">
  <div class="container">
  	<h1 class="center">Frequently Asked Questions</h1>

  	</br>

  	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Who is Language Dream for?</h3>
  </div>
  <div class="panel-body">
    Language Dream is for anyone who is learning a language--especially for those who want to practice speaking with native speakers.
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How does Language Dream work?</h3>
  </div>
  <div class="panel-body">
    It's pretty simple.
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Where are classes held?</h3>
  </div>
  <div class="panel-body">
    Online with Google Hangouts. All you need is a device that can use Google Hangouts and a decent internet connection.
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">When are classes held?</h3>
  </div>
  <div class="panel-body">
    The classes at Language Dream are crowdsourced, so classes are held whenever a member wants to teach one.
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How much does it cost?</h3>
  </div>
  <div class="panel-body">
    Language Dream is free to try for the first week and membership starts at just $10 a month after that
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Why do you charge money--can't it be free?</h3>
  </div>
  <div class="panel-body">
    It takes a lot of time, money and effort to build and run Language Dream, so it costs $. I don't want to work a real job. You will find that you can learn a lot more at Language Dream for a lot less than you would pay at a brick and mortar language school. Plus, you don't even have to get out of bed to attend classes on Language Dream. 
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">I don't know how to teach, I'm not a teacher, can I still use Language Dream?</h3>
  </div>
  <div class="panel-body">
    Most Language Dream members are not real teachers. The one thing we are all experts in is our native language. And you don't really have to "teach" in class, as much as just get your students talking in the language. The goal of Language Dream is to be the go to place for people to practice speaking languages. The best class on Language Dream are just great conversations between fun people from around the world.
  </div>
  </div>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What do I get for VIP membership?</h3>
  </div>
  <div class="panel-body">
    VIP membership costs $50 a month. It enables you to learn as much as you want.  Maybe you also want to support Language Dream by paying more. You can sleep better at night knowing that your money is supporting the Language Dream community.
  </div>
  </div>

  </div>

</div>