
<div class="jumbotron center">
<h1>Welcome to Your Language Dream</h1>
</br>
<p>
	<button type="button" class="btn btn-primary btn-lg">
  	<span class="glyphicon glyphicon-ok-sign"></span> Sign Up Now!
	</button>
	<button type="button" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-user"></span> Log In
	</button>
</p>
</div>

