<div class="jumbotron center">
  <div class="container">
   <h1>The Language Dream Team</h1>
   <h4>I'm Ryan, the founder of Language Dream. The concept for Language Dream was born from a problem I had. I was living in Seoul, South Korea and I was frustrated at having to teach a Korean friend English for 1 hour for every hour I wanted to practice speaking Korean. As much as I loved teaching English, I wanted to focus on learning Korean.</h4>
   <h4>I thought, 'Why not teach 4 Korean friends English at once? Then they could each teach me for 1 hour...' It seemed like this would be a lot more efficient way to learn.</h4> 
   <h4>I couldn't find anything like it on the web, so I had to build it myself. For the longest time, this was just a dream. My idea was a little ahead of technology because group video conferencing was really glitchy in 2009, or too expensive. But then Google Hangouts was released and it works really well. And then Google enabled anyone to use Google Hangouts from their website. Thanks Google. To me, that was a sign to pursue this idea more.</h4> 
   <h4>Language Dream is the never final product of 3+ years of slowly learning how to build a website and getting an MBA at UCLA to learn how to scale a sustainable company.</h4>
   <h4>Feel free to drop me a line, or visit the Language Dream world headquarters at the University of California, Los Angeles.</h4>
   <button type="button" class="btn btn-primary btn-lg">
  	<span class="glyphicon glyphicon-envelope"></span> Email!
	</button>
</br>
	<div class="btn-group">
  		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-phone"></span>  Call: 310-430-1754</button>
  		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span>  Meet: I'm in LA</button>
	</div>

   </div>
</div>
