<div class="jumbotron center">
  <div class="container">
   <h1>The Language Dream Team</h1>
   <h2>Language Dream is a 1 man show for the time being. How about sending an email? It gets lonely at the Language Dream World Headquarters.</h2>
</br>
   <button type="button" class="btn btn-primary btn-lg">
  	<span class="glyphicon glyphicon-envelope"></span> Email Me!
	</button>
</br>
	<div class="btn-group">
  		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-phone"></span>  Call Me</button>
  		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>  Write Me</button>
  		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span>  Meet Me</button>
	</div>

   </div>
</div>
